.container {
  width: 50%;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin: 4px;
}

form {
  display: grid;
  grid-template: 
  "main main main" auto
  ". submit ." auto 
  / 1fr 1fr 1fr;
}

input[type='text'] {
  width: 100%; 
  padding: 12px;   
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical;
}

.dropDown {
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 100%;
  padding: 12px;
  margin-bottom: 16px;
}


#submit {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  grid-area: submit;
  justify-self: center;
  align-self: center;

}

label {
   display: inline-block;
   padding-bottom: 2px;
}

#serviceType {
    padding-bottom: 8px;
}

.main {
  grid-area: main;
  justify-self: stretch;
  align-self: stretch;
}